*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Lato';
  color: #333;
}


img{
  max-width: 100%;
}

.escondido{
  display: none;
}

a{
  background-color: unset;
  border:unset;
  cursor:pointer;
  text-decoration: none;
  transition: 200ms;
  color: var(--color-texto);
}

.btn{
  transition: 200ms;
}


/* Header */
header{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
  font-size: larger;
}

header nav{
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

#logo{
  height: 40px;
  margin: 20px;
}

header nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav img{
  height: 25px;
}

#cuenta-carrito{
  position: absolute;
  background-color: var(--color-acento);
  border-radius: 100%;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  aspect-ratio: 1;
  text-align: center;
  /* margin-bottom: 15px; */
}
  

.search-container {
    max-width: 400px;
    margin: 0vh auto;
    padding: 20px;
  }

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #646363;
    border-radius: 8px;
    outline: none;
  }

  .no-results {
    font-size: 20px;
    color: red;
    text-align: center;
    display: none;
  }

